.city-listing {

    .jumbotron {
        margin-bottom:0;
    }

    .row {
        justify-content: center;
    }

    .col-scroll {
        height: 38vw;
        overflow-y: hidden;
        overflow: auto;
        overflow-x: auto;
    }
}
