.fade {

    &-enter {
        opacity: 0;
        z-index: 0;
        transform: translateY(5%);

        &-active {
            opacity: 1;
            transform: translateY(0%);
            transition: opacity 300ms ease-in;
        }
    }

    &-exit {
        opacity: 1;

        &-active {
            display:none;
            transition: opacity 100ms ease-out;
        }
    }
}
.card {
    transition: all .15s ease-in;;
    
    &:hover {
        transform: scale(1.05);
    }

    @media (max-width: 400px) {
        &:hover {
            transform: scale(.95);
        }
    }
}