h2 {
    text-transform:uppercase;
}
.fade {

    &-enter {
        opacity: 0;
        z-index: 0;
        transform: translateY(5%);

        &-active {
            opacity: 1;
            transform: translateY(0%);
            transition: opacity 300ms ease-in;
        }
    }

    &-exit {
        opacity: 1;

        &-active {
            display:none;
            transition: opacity 100ms ease-out;
        }
    }
}
.card {
    transition: all .15s ease-in;
    padding: .05vw;
    border-radius:1px;
    border-color: rgba(0,0,0,.05);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.03);
    
    &:hover {
        transform: scale(1.05);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    }

    &-title {

        a {
            color:#000;
            transition: all .15s ease-in;

            &:hover {
                text-decoration:  none;
                opacity: .7;
            }
        }

        h5 {
            text-transform: uppercase;
        }
    }

    &-footer {
        padding:0;
        border:none;
    }

    @media (max-width: 400px) {
        &:hover {
            transform: scale(.95);
        }
    }
}
.jumbotron {
    padding: 1.65rem 2rem 1.25rem;
}
.display-3 {
    font-size: 3.5rem;
}
.btn {
    text-transform: uppercase;
    padding: .8rem .75rem .9rem;
    border-radius:0;
    border:none;
}